<ion-view view-title="Login" class="login">
  <ion-content>
    <div class="login-content">
      <form name="loginForm" class="loginForm">
        <md-input-container flex>
          <label>Email</label>
          <input type="email" name="userEmail" ng-model="userEmail" ng-pattern="/^.+@.+\..+$/" required>
        </md-input-container>
        <md-input-container flex>
          <label>Password</label>
          <input type="password" name="userSenha" ng-model="userSenha" required>
        </md-input-container>
      </form>
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <a ui-sref={{destino}} class="button button-balanced login_btn">Login</a>
        <br/>
        <div class="label">
          <a onclick="alert('Sorry, not yet implemented');" flex>Forgot my password</a>
          <em>    |    </em>
          <a onclick="alert('Sorry, not yet implemented');" flex>New User</a>
        </div>
      </section>

<!-- Botão de login em redes sociais-->
      <div class="lock-size" layout="row" layout-align="center center" layout-sm="column" layout-wrap>
        <md-fab-speed-dial md-open="false" md-direction="left"
                         ng-class="md-fling">
          <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn">
              <i class="icon ion-navicon"></i>
              <md-tooltip>Login with</md-tooltip>
            </md-button>
          </md-fab-trigger>
          <md-fab-actions>
            <md-button aria-label="Twitter" class="md-fab md-raised md-mini" onclick="location.href='https://instagram.com/oauth/authorize/?client_id=f952f289691e4a758c5ae979c7fcf076&redirect_uri=http://192.168.0.10:8100/#/main&response_type=token'">
              <i class="icon ion-social-twitter"></i>
            </md-button>
            <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
              <i class="icon ion-social-facebook"></i>
            </md-button>
            <md-button aria-label="Instagram" class="md-fab md-raised md-mini">
              <i class="icon ion-social-instagram"></i>
            </md-button>
          </md-fab-actions>
        </md-fab-speed-dial>
      </div>

    </div>
  </ion-content>
</ion-view>